[submodule "site"]
	path = site
	url = https://github.com/apache/openserverless-site
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/apache/openserverless-cli
	branch = main
[submodule "operator"]
	path = operator
	url = https://github.com/apache/openserverless-operator
	branch = main
[submodule "testing"]
	path = testing
	url = https://github.com/apache/openserverless-testing
	branch = main
[submodule "task"]
	path = task
	url = https://github.com/apache/openserverless-task
	branch = main
[submodule "runtimes"]
	path = runtimes
	url = https://github.com/apache/openserverless-runtimes
	branch = main
[submodule "devel/olaris"]
	path = devel/olaris
	url = https://github.com/apache/openserverless-task
	branch = devel
[submodule "devel/olaris-operator"]
	path = devel/olaris-operator
	url = https://github.com/apache/openserverless-operator
	branch = devel
