[submodule "site"]
	path = site
	url = ssh://git@github.com/apache/openserverless-site
[submodule "cli"]
	path = cli
	url = ssh://git@github.com/apache/openserverless-cli
[submodule "operator"]
	path = operator
	url = ssh://git@github.com/apache/openserverless-operator
